!!!
%html(xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en")
	%head
		%title TwitSpam
		%meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		= css "twitter_spam.css"
		= js "http://cdn.jquerytools.org/1.0.2/jquery.tools.min.js"
		= js "ga.js"
		= js "twitspam.js"

	%body(onload="lookup()")
	#header
		%a(href="/")
			%img(src="images/twitter_spam.png" border="0")

	#main
		%form(action="/check" id="form")
			%p
				%label(for="username") Are they a spammer?
				%input(type="text" class="text" id="username" name="username" value="#{username}")
				%input(type="button" id="submit" class="button" value="check")
		%span(id="message" style="display:none")
		
		%a(href="javascript:(function() { var username=''; if(window.location.href.match(/twitter/) != null) { var urlWithoutDomain = window.location.href.replace('http://twitter.com/',''); if(urlWithoutDomain.indexOf('?') > 0) { username = urlWithoutDomain.substring(0,urlWithoutDomain.indexOf('?')); } else { username = urlWithoutDomain; } window.open('http://www.twitspam.us/?username=' + username,'twitspam_bookmarklet','width=600,height=300');} else {alert('Unable to find twitter user!');}})()")="Twitter Spam Bookmarklet"
		
		

		#footer